.header__link {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(248, 246, 246);
  text-decoration: none;
}

@media (max-width: 1040px) {
  .header__link {
    padding-right: 40px;
  }
}

@media (max-width: 460px) {
  .header__link {
    font-size: 14px;
    padding-right: 30px;
  }
}
